<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" ng-app="web">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Se connecter...</title>

<!-- Début insertion feuilles de styles-->
<link href="bootstrap-3.3.4-dist/css/bootstrap.css" rel="stylesheet">
<!-- Fin insertion feuilles de styles-->

<script src="jquery.min.js"></script>
<script src="bootstrap-3.3.4-dist/js/bootstrap.js"></script>
<script src="angular.min.js"></script>
<script type="text/javascript" src="app.js"></script>
<script src="angular-animate.js"></script>

</head>
	
	

<body>


	<div class="container-fluid">
		<div class="row" ng-include="'navbar.html'"></div>
		
		<div class="row">
			<div class="col-xs-2"></div>
			<div class="col-xs-8">
				<div class="panel panel-primary">
				  <div class="panel-heading">Se connecter...</div>
				  <div class="panel-body center-block" align="center">
					 <form ng-submit="submit()" ng-controller="Connexion">
					 	
						<table ng-hide="isConnected()">
							<tr>
								<td>
									<input ng-model="user.username" type="text" class="form-control" placeholder="Identifiant" aria-describedby="basic-addon1">
								</td>
							</tr>
							<tr>
								<td></br>
									<input ng-model="user.password" type="password" class="form-control" placeholder="Mot de passe" aria-describedby="basic-addon1">
								</td>
							</tr>
							<pre ng-hide="valid" class="bg-danger"><span class="text-danger">Identifiant ou mot de passe invalide</span></pre>
							<tr>
								<td align="center"></br></br>
									<button type="submit" class="btn-lg btn-success">Se connecter</button>
								</td>
							</tr>
						</table>
						<pre ng-show="isConnected()" class="bg-success"><span class="text-success">Vous &ecirc;tes connect&eacute;</span></pre>
					 </form>
				  </div>
				</div>
			</div>
			<div class="col-xs-2"></div>
		</div>
		
		<div class="row" ng-include="'pied-de-page.html'"></div>
		
	</div>
</body>
</html>
