<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" ng-app="web">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Enseignement</title>

<!-- Début insertion feuilles de styles-->
<link href="bootstrap-3.3.4-dist/css/bootstrap.css" rel="stylesheet">
<link href="./bootstrap-3.3.4-dist/jquery.smartmenus.bootstrap.css" rel="stylesheet">
<!-- Fin insertion feuilles de styles-->

<script src="jquery.min.js"></script>
<script src="bootstrap-3.3.4-dist/js/bootstrap.js"></script>
<script src="angular.min.js"></script>
<script type="text/javascript" src="app.js"></script>
<script src="angular-animate.js"></script>

<!-- SmartMenus jQuery plugin -->
<script type="text/javascript" src="./bootstrap-3.3.4-dist/jquery.smartmenus.js"></script>

<!-- SmartMenus jQuery Bootstrap Addon -->
<script type="text/javascript" src="./bootstrap-3.3.4-dist/jquery.smartmenus.bootstrap.js"></script>

</head>
	
	

<body>


	<div class="container-fluid">
		<div class="row" ng-include="'navbar.html'"></div>
		<div class="row">
		
			<div class="col-xs-3"><p></p></div>
			<div class="col-xs-6">
				<div id="mon_menu">
	
				<!-- Static navbar -->
						<div class="navbar navbar-default" role="navigation">
						  <div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							  <span class="sr-only">Enseignement</span>
							  <span class="icon-bar"></span>
							  <span class="icon-bar"></span>
							  <span class="icon-bar"></span>
							</button>
						  </div>
						  <div class="navbar-collapse collapse">
						
							<!-- Left nav -->
							<ul class="nav navbar-nav">
							  <li><a href="#" ng-init="onglet='enseignement'">Disciplines</a>
								<ul class="dropdown-menu">
								  <li><a href="#" ng-click="onglet = 'enseignement'">Enseignement musique</a></li>	
								  <li><a href="#" ng-click="onglet = 'danse'">Danse - Art Dramatique</a></li>
								  <li><a href="#">Classe de son</a></li>
								  <li><a href="#">Equipe p&#233dagogique</a></li>
								</ul>
							  </li>
							  <li><a href="#">Cursus</a></li>
							  <li><a href="#">Admissions et concours</a></li>
							  <li><a href="#">Actualit&#233s scolarit&#233</a></li>
							</ul>
						
						  </div><!--/.nav-collapse -->
					</div>
				</div>
			
			</div>
			<div class="col-xs-3"></div>
			
		
		</div>
		<div class="row"  ng-show="onglet === 'enseignement'">
		<div class="row">
			<div class="col-xs-2"></div>
			<div class="col-xs-8">
				<div class="panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">UV libre</div>
				  <table class="table">
				  	<tr>
				  		<td>UV libre initiation &#224 l'imporvisation</td>
				  	</tr>
				  	<tr>
				  		<td>UV libre initiation au son</td>
				  	</tr>
				  	<tr>
				  		<td>UV libre Piano compl&#233mentaire</td>
				  	</tr>
				  	<tr>
				  		<td>UV libre initiation &#224 la direction de choeur </td>
				  	</tr>
				  	<tr>
				  		<td>UV libre initiation &#224 la direction d'orchestre</td>
				  	</tr>
				  	<tr>
				  		<td>UV libre initiation &#224 la musique ancienne</td>
				  	</tr>
				  </table>
				</div>
			
			</div>
			<div class="col-xs-2"></div>
		</div>
		
		<div class="row">
			<div class="col-xs-2"></div>
			<div class="col-xs-8">
				<div class="panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">Disciplines instrumentales</div>
				  <div class="panel-body">
				  	<div class="row">
				  		<table class="table">
				  			<colgroup>
				  				<col class="col-xs-4"></col>
				  				<col class="col-xs-4"></col>
				  				<col class="col-xs-4"></col>
				  			</colgroup>
				  			<thead>
				  				<tr class="active">
				  					<th>Bois</th>
				  					<th>Cuivres</th>
				  					<th>Cordes</th>
				  				</tr>
				  			</thead>
				  		</table>
				  		<table class="table">
				  			<colgroup>
				  				<col class="col-xs-2"></col>
				  				<col class="col-xs-2"></col>
				  				<col class="col-xs-2"></col>
				  				<col class="col-xs-2"></col>
				  				<col class="col-xs-2"></col>
				  				<col class="col-xs-2"></col>
				  			</colgroup>
				  			<tr>
				  				<td>
				  				<p align="center">
				  					<img class="media-object img-responsive" src="./photos/enseignement/bois.jpg" alt="" width="90" align="middle">
				  				</p>
				  				</td>
				  				<td>
										<li>Fl&#251te traversi&#232re</li>
										<li>Fl&#251te &#224 bec</li>
										<li>Hautbois</li>
										<li>Clarinette</li>
										<li>Saxophone</li>
										<li>Basson</li>
				  				</td>
				  				<td>
				  				<p align="center">
				  					<img class="media-object img-responsive" src="./photos/enseignement/cuivres.jpg" alt="" width="90" align="middle">
				  				</p>
				  				</td>
				  				<td>
										<li>Cor</li>
										<li>Trompette</li>
										<li>Trombone</li>
										<li>Tuba</li>
				  				</td>
				  				<td>
				  				<p align="center">
				  					<img class="media-object img-responsive" src="./photos/enseignement/cordes.jpg" alt="" width="90" align="middle">
				  				</p>
				  				</td>
				  				<td>
										<li>Violon</li>
										<li>Alto</li>
										<li>Violoncelle</li>
										<li>Contrebasse</li>
										<li>Guitare</li>
										<li>Harpe</li>
										<li>D&#233chiffrage cordes</li>
				  				</td>
				  			</tr>
				  		</table>	
				  		
				  		<table class="table">
				  			<colgroup>
				  				<col class="col-xs-4"></col>
				  				<col class="col-xs-4"></col>
				  				<col class="col-xs-4"></col>
				  			</colgroup>
				  			<thead>
				  				<tr class="active">
				  					<th>Claviers</th>
				  					<th>Percussions</th>
				  					<th></th>
				  				</tr>
				  			</thead>
				  		</table>
				  		
				  		<table class="table">
				  			<colgroup>
				  				<col class="col-xs-2"></col>
				  				<col class="col-xs-2"></col>
				  				<col class="col-xs-2"></col>
				  				<col class="col-xs-2"></col>
				  				<col class="col-xs-2"></col>
				  				<col class="col-xs-2"></col>
				  			</colgroup>
				  			<tr>
				  				<td>
				  				<p align="center">
				  					<img class="media-object img-responsive" src="./photos/enseignement/clavier.jpg" alt="" width="90" align="middle">
				  				</p>
				  				</td>
				  				<td>
										<li>Piano</li>
										<li>D&#233chiffrage piano</li>
										<li><a href="http://www.bb-cnr.com/pdf/enseignement/R%E8gltPart%20Accomp%20-Juil2014.pdf">Accompagnement</a></li>
										<li>Clavecin</li>
										<li>Orgue</li>
										<li>Accord&#233on</li>
				  				</td>
				  				<td>
				  				<p align="center">
				  					<img class="media-object img-responsive" src="./photos/enseignement/percussions.JPG" alt="" width="90" align="middle">
				  				</p>
				  				</td>
				  				<td>
										<li>Percussion</li>
				  				</td>
				  			</tr>
				  		</table>
				  	</div>
				  	
				  </div>
				</div>
			</div>
			<div class="col-xs-2"></div>
		</div>
		<div class="row">
			<div class="col-xs-2"></div>
			<div class="col-xs-8">
				<div class="panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">Disciplines vocales</div>
				  <div class="panel-body">
				  	<div class="row">
				  		<table class="table">
				  			<colgroup>
				  				<col class="col-xs-4"></col>
				  				<col class="col-xs-4"></col>
				  				<col class="col-xs-4"></col>
				  			</colgroup>
				  			<tr>
				  				<td>
				  				<p align="center">
				  					<img class="media-object img-responsive" src="./photos/enseignement/chorale.jpg" alt="" width="200" align="middle">
				  				</p>
				  				</td>
								<td>
									<li><a href="http://www.bb-cnr.com/pdf/enseignement/R%E8gltPart%20Chant%20Juil2014.pdf">Chant</a></li>
									<li><a href="http://www.bb-cnr.com/pdf/enseignement/R%E8gltParticulier_DirectChoeur_01-2011.pdf">Direction de choeur</a></li>
									<li><a href="http://www.bb-cnr.com/pdf/enseignement/R%E8gltPart%20JEUNES%20VOIX%20-Juin2014.pdf">Jeunes voix</a></li>
									<li>Formation musicale chanteurs</li>
								</td>	
				  			</tr>
				  		</table>	
				  		
				  	</div>
				  	
				  </div>
				</div>
			</div>
			<div class="col-xs-2"></div>
		</div>
		<div class="row">
			<div class="col-xs-2"></div>
			<div class="col-xs-8">
				<div class="panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">Pratiques collectives</div>
				  <div class="panel-body">
				  	<div class="row">
				  		<table class="table">
				  			<colgroup>
				  				<col class="col-xs-4"></col>
				  				<col class="col-xs-4"></col>
				  				<col class="col-xs-4"></col>
				  			</colgroup>
				  			<tr>
				  				<td>
				  				<p align="center">
				  					<img class="media-object img-responsive" src="./photos/enseignement/pratiqueensemble.jpg" alt="" width="200" align="middle">
				  				</p>
				  				</td>
								<td>
									<li><a href="http://www.bb-cnr.com/pdf/enseignement/R%E8gltPartOrchestresSept2009.pdf">Orchestres</a></li>
									<li><a href="http://www.bb-cnr.com/pdf/enseignement/R%E8gltPart%20Musique%20de%20chambre%20-Juin2014.pdf">Musique de chambre</a></li>
									<li><a href="http://www.bb-cnr.com/pdf/enseignement/Laboratoire%20de%20cr%E9ation.pdf">Laboratoire de cr&#233ation</a></li>
									<li>Choeurs</li>
								</td>	
				  			</tr>
				  		</table>	
				  		
				  	</div>
				  	
				  </div>
				</div>
			</div>
			
			<div class="col-xs-2"></div>
		</div>
		<div class="row">
			<div class="col-xs-2"></div>
			<div class="col-xs-8">
				<div class="panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">Musique ancienne</div>
				  <div class="panel-body">
				  	<div class="row">
				  		<table class="table">
				  			<colgroup>
				  				<col class="col-xs-4"></col>
				  				<col class="col-xs-4"></col>
				  				<col class="col-xs-4"></col>
				  			</colgroup>
				  			<tr>
				  				<td>
				  				<p align="center">
				  					<img class="media-object img-responsive" src="./photos/enseignement/clavecin.jpg" alt="" width="200" align="middle">
				  				</p>
				  				</td>
								<td>
									<li>Fl&#251te &#224 bec</li>
									<li>Traverso</li>
									<li>Violon baroque</li>
									<li>Viole de gambe</li>
									<li>Clavecin</li>
									<li>Basse continue</li>
									<li>Luth</li>
									<li>Improvisation</li>
									<li>Formation musicale baroque</li>
								</td>	
				  			</tr>
				  		</table>	
				  		
				  	</div>
				  	
				  </div>
				</div>
			</div>
			
				<div class="col-xs-2"></div>
		</div>
		<div class="row">
			<div class="col-xs-2"></div>
			<div class="col-xs-8">
				<div class="panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">Composition et &#233rudition</div>
				  <div class="panel-body">
				  	<div class="row">
				  		<table class="table">
				  			<colgroup>
				  				<col class="col-xs-4"></col>
				  				<col class="col-xs-4"></col>
				  				<col class="col-xs-4"></col>
				  			</colgroup>
				  			<tr>
				  				<td>
				  				<p align="center">
				  					<img class="media-object img-responsive" src="./photos/enseignement/ecriture.jpg" alt="" width="200" align="middle">
				  				</p>
				  				</td>
								<td>
									<li><a href="http://www.bb-cnr.com/pdf/enseignement/R%E8gltComposition%20et%20%E9lectroacoustiqueSept2011.pdf">Composition instrumentale</a></li>
									<li><a href="http://www.bb-cnr.com/pdf/enseignement/R%E8gltPart%20Orchestration%20juin%202009.pdf">Orchestration</a></li>
									<li><a href="http://www.bb-cnr.com/pdf/enseignement/R%E8gltPart%20ECRITURE%20-Sept2015.pdf">Ecriture</a></li>
									<li><a href="http://www.bb-cnr.com/pdf/enseignement/R%E8glementparticulierANA-fev2013.pdf">Analyse musicale</a></li>
									<li><a href="http://www.bb-cnr.com/pdf/enseignement/R%E8glementparticulierCULTURE-fev2013.pdf">Culture musicale</a></li>
								</td>	
				  			</tr>
				  		</table>	
				  		
				  	</div>
				  	
				  </div>
				</div>
			</div>
			
				<div class="col-xs-2"></div>
		</div>
		<div class="row">
			<div class="col-xs-2"></div>
			<div class="col-xs-8">
				<div class="panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">Jazz et musique improvis&#233e</div>
				  <div class="panel-body">
				  	<div class="row">
				  		<table class="table">
				  			<colgroup>
				  				<col class="col-xs-4"></col>
				  				<col class="col-xs-4"></col>
				  				<col class="col-xs-4"></col>
				  			</colgroup>
				  			<tr>
				  				<td>
				  				<p align="center">
				  					<img class="media-object img-responsive" src="./photos/enseignement/jazz.jpg" alt="" width="200" align="middle">
				  				</p>
				  				</td>
								<td>
									<li><a href="http://www.bb-cnr.com/pdf/enseignement/R%E8gltPart%20Jazz%20-Juillet2014.pdf">Jazz</a></li>
								</td>	
				  			</tr>
				  		</table>	
				  		
				  	</div>
				  	
				  </div>
				</div>
			</div>
			
			<div class="col-xs-2"></div>
		</div>
		</div>
		<div class="row" ng-show="onglet === 'danse'">
			<div class="row">
				<div class="col-xs-2"></div>
			<div class="col-xs-8">
				<div class="panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">Danse</div>
				  <div class="panel-body">
				  	<div class="row">
				  		<table class="table">
				  			<colgroup>
				  				<col class="col-xs-4"></col>
				  				<col class="col-xs-4"></col>
				  				<col class="col-xs-4"></col>
				  			</colgroup>
				  			<tr>
				  				<td>
				  				<p align="center">
				  					<img class="media-object img-responsive" src="./photos/danse/danse.jpg" alt="" width="200" align="middle">
				  				</p>
				  				</td>
								<td>
									<li><a href="http://www.bb-cnr.com/pdf/enseignement/R%E8glt%20Cursus%20%20Danse%20Class%20Sept2014.pdf">Danse classique</a></li>
									<li><a href="http://www.bb-cnr.com/pdf/enseignement/R%E8glt%20Cursus%20%20Danse%20Contemp%20Sept%202014.pdf">Danse contemporaine</a></li>
									<li><a href="http://www.bb-cnr.com/pdf/enseignement/R%E8glt%20Cursus%20%20Danse%20Jazz%20Sept2014.pdf">Danse jazz</a></li>
									<li>Danse baroque</li>
									<li>Danse populaire</li>
									<li>Formation musicale danseurs</li>
									<li>Chorale danseur</li>
								</td>	
				  			</tr>
				  		</table>	
				  		
				  	</div>
				  	
				  </div>
				</div>
			</div>
			<div class="col-xs-2"></div>
		</div>
		
		<div class="row">
			<div class="col-xs-2"></div>
			<div class="col-xs-8">
				<div class="panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">Art dramatique</div>
				  <div class="panel-body">
				  	<div class="row">
				  		<table class="table">
				  			<colgroup>
				  				<col class="col-xs-4"></col>
				  				<col class="col-xs-4"></col>
				  				<col class="col-xs-4"></col>
				  			</colgroup>
				  			<tr>
				  				<td>
				  				<p align="center">
				  					<img class="media-object img-responsive" src="./photos/danse/artdramatique.jpg" alt="" width="200" align="middle">
				  				</p>
				  				</td>
								<td>
									<li><a href="http://www.bb-cnr.com/pdf/enseignement/R%E8gltPart%20Theatre%20-Juil2014.pdf">Classe de th&#233&#226tre</a></li>
								</td>	
				  			</tr>
				  		</table>	
				  		
				  	</div>
				  	
				  </div>
				</div>
			</div>
			<div class="col-xs-2"></div>
		</div>
		</div>
		
		<div class="row" ng-include="'pied-de-page.html'"></div>
		
	</div>
</body>
</html>
