<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" ng-app="web">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Conservatoire de Boulogne Billancourt</title>

<!-- Début insertion feuilles de styles-->
<link href="bootstrap-3.3.4-dist/css/bootstrap.css" rel="stylesheet">
<!-- Fin insertion feuilles de styles-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="bootstrap-3.3.4-dist/js/bootstrap.js"></script>
<script src="angular.min.js"></script>
<script type="text/javascript" src="app.js"></script>

</head>
	
	

<body>


	<div class="container-fluid">
		<div class="row" ng-include="'navbar.html'"></div>
		
		<div class="row" ng-controller="Accueil">
			<div class="col-xs-2"><p>Colonne 1</p></div>
			<div class="col-xs-8"><p>Colonne 2</p>
				<ul><li ng-repeat="rub in rubriques">{{rub.titre}}
						<ul><li ng-repeat="elem in rub.elements">{{elem.texte}}</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="col-xs-2"><p>Colonne 3</p></div>
		</div>
		
		<div class="row" ng-include="'pied-de-page.html'"></div>
		
	</div>
</body>
</html>
