<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" ng-app="web">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Se connecter...</title>

<!-- Début insertion feuilles de styles-->
<link href="bootstrap-3.3.4-dist/css/bootstrap.css" rel="stylesheet">
<!-- Fin insertion feuilles de styles-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="bootstrap-3.3.4-dist/js/bootstrap.js"></script>
<script src="angular.min.js"></script>
<script type="text/javascript" src="app.js"></script>

</head>
	
	

<body>


	<div class="container-fluid">
		<div class="row" ng-include="'navbar.html'"></div>
		
		<div class="row">
			<div class="col-xs-2"></div>
			<div class="col-xs-8">
				<form ng-submit="newConcert()" ng-controller="Private">
					<input ng-model="concert.titre" type="text" required class="form-control" placeholder="Titre" aria-describedby="basic-addon1">
					<input ng-model="concert.date" type="text" required class="form-control" placeholder="Date (2000-01-01)" aria-describedby="basic-addon1">
					<textarea ng-model="concert.description" required cols="80" rows="5" class="form-control" placeholder="Description" aria-describedby="basic-addon1"></textarea>
					<input ng-model="concert.auteur" type="text" class="form-control" placeholder="Auteur" aria-describedby="basic-addon1">
					<input ng-model="concert.horaire" required type="text" class="form-control" placeholder="Horaire" aria-describedby="basic-addon1">
					<input ng-model="concert.lieu" required type="text" class="form-control" placeholder="Lieu" aria-describedby="basic-addon1">
					<input ng-model="concert.participation" type="text" class="form-control" placeholder="Participation" aria-describedby="basic-addon1">
					<input ng-model="tarif.plein" type="number" step="0.5" min="0" class="form-control" placeholder="Tarif plein" aria-describedby="basic-addon1">
					<input ng-model="tarif.etudiant" type="number" step="0.5" min="0" class="form-control" placeholder="Tarif etudiant" aria-describedby="basic-addon1">
					<input ng-model="tarif.enfant" type="number" step="0.5" min="0" class="form-control" placeholder="Tarif enfant" aria-describedby="basic-addon1">
					<input ng-model="concert.style" required type="text" class="form-control" placeholder="Style" aria-describedby="basic-addon1">
					<input ng-model="image.titre" type="text" class="form-control" placeholder="Titre image" aria-describedby="basic-addon1">
					<input ng-model="image.chemin" type="text" class="form-control" placeholder="Chemin image" aria-describedby="basic-addon1">
					<input ng-model="video.titre" type="text" class="form-control" placeholder="Titre video" aria-describedby="basic-addon1">
					<input ng-model="video.chemin" type="text" class="form-control" placeholder="Chemin video" aria-describedby="basic-addon1">
					<input ng-model="concert.nb_places" type="number" min="0" class="form-control" placeholder="Nombre de places" aria-describedby="basic-addon1">
					<label>Reservable</label><input ng-model="concert.reservable" type="checkbox"  placeholder="Reservable" aria-describedby="basic-addon1">
					<button type="submit" class="btn btn-success">Envoyer</button>
				</form>
			</div>
			<div class="col-xs-2"></div>
		</div>
		
		<div class="row" ng-include="'pied-de-page.html'"></div>
		
	</div>
</body>
</html>
