<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" ng-app="web">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Suppression concert</title>

<!-- Début insertion feuilles de styles-->
<link href="bootstrap-3.3.4-dist/css/bootstrap.css" rel="stylesheet">
<!-- Fin insertion feuilles de styles-->

<script src="jquery.min.js"></script>
<script src="bootstrap-3.3.4-dist/js/bootstrap.js"></script>
<script src="angular.min.js"></script>
<script type="text/javascript" src="app.js"></script>
<script src="angular-animate.js"></script>

</head>
	
	

<body>


	<div class="container-fluid">
		<div class="row" ng-include="'navbar.html'"></div>
		
		<div class="row">
			<div class="col-xs-2"></div>
			<div class="col-xs-8">
			<div class="panel panel-primary">
				<div class="panel-heading" align="center"><h4>Nettoyer les concerts</h4></div>
				<div class="panel-body" ng-controller="Clean"></br>
				
					
					<div class="form-group">
					
					<div class="row" align="center">
						<div class="col-xs-4">
							<form ng-submit="cleanConcert()">
								<button type="submit" class="btn btn-warning">Nettoyer</button>
							</form>
						</div>
						<div class="col-xs-2"></div>
						<div class="col-xs-5" align="left">
							<form ng-submit="suppConcert()">
								<label ng-repeat="concert in concerts | orderBy:'-date'"><input ng-model="concert.deplie" type="checkbox" placeholder="" aria-describedby="basic-addon1"> {{concert.titre}} / {{concert.date | date}} {{concert.horaire}}</label>
								<br/><br/><button type="submit" class="btn btn-warning">Supprimer</button>
							</form>
						</div>
					</div>
				
				</div>
				</div>
			</div>
			<div class="col-xs-2"></div>
		</div>
		
		<div class="row" ng-include="'pied-de-page.html'"></div>
		
	</div>
</body>
</html>
